{% extends 'NestleWebBundle::base.html.twig' %}
{% set user_role = user.level %}


{% block stylesheets %}
    <link href="{{ asset('css/jasny-bootstrap.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('css/jquery.dataTables.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('css/dataTables.colVis.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('css/jquery-ui.css') }}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block content %}

    <div class="row">
		<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
			<div class="panel">
				<div class="panel-body">

					<ol class="breadcrumb">
						<li><a href="{{ path('nestle_web_promo') }}">Promotions</a></li>
						<li class="active">Add</li>
					</ol>

					<form role="form" method="POST">
					<div class="modal-header" id="addProfile">
						<div class="form-group">
							<label for="pwd" for="promo">Promo Name:</label>
						    <input type="text" name="name" id="promo" class="form-control input-lg">
						  </div>
					</div>

					<div class="modal-body restaurantProfile" id="addProfile">

							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<label for="desc">Description:</label>
										<textarea class="form-control" id="desc" name="desc" rows="3" id="comment"></textarea>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="status">Status:</label>
										<select class="form-control" id="status" name="status">
											<option value="1">Active</option>
											<option value="2">Inactive</option>
										</select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="area">Nestle Region</label>
										<select class="form-control">
											<option value="">Select Nestle Region</option>
											<option value="">GMA 1</option>
											<option value="">GMA2</option>
											<option value="">North Luzon</option>
											<option value="">Central luzon</option>
											<option value="">South Luzon</option>
											<option value="">Visayaz</option>
											<option value=""> Mindanao</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="start">Start Date:</label>
										<div class="input-group date">
											<input type="text" name="start" id="start" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="end">End Date:</label>
										<div class="input-group date">
											<input type="text" id="end" name="end" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
										</div>
									</div>
								</div>
							</div>


							<hr>


							<div class="row">
								<div class="col-sm-3">
									<div class="form-group">
										<label for="product_id">Product:</label>
										<select name="product_id" id="product_id" class="form-control">>
											{% if product %}
												{% for p in product %}
													<option value="{{ p.id }}">{{ p.name }}</option>
												{% endfor %}
											{% endif %}
										</select>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label for="qualifier">Qty. Qualify:</label>
										<div class="input-group spinner2">
											<input type="text" name="qualifier" id="qualifier" class="form-control"  value="1">
												<div class="input-group-btn-vertical">
												<button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
												<button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label for="pwd">Promo Product:</label>
										<select name="product_promo_id" id="product_promo_id" class="form-control" required="required">
											{% if promoproduct %}
												{% for pp in promoproduct %}
													<option value="{{ pp.id }}">{{ pp.name }}</option>
												{% endfor %}
											{% endif %}
										</select>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label for="free">Qty. Free:</label>
										<div class="input-group spinner3">
											<input type="text" name="free" id="free" class="form-control" value="1">
												<div class="input-group-btn-vertical">
												<button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
												<button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<hr>

							<button type="submit" class="btn btn-warning pull-right">Submit</button>

						</div>
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jasny-bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables.js') }}"></script>
	<script src="{{ asset('js/bootstrap-datepicker.js')}}"></script>

    <script>
        $('#flashNotif').fadeOut(2500);


			$('.spinner2 .btn:first-of-type').on('click', function() {
				$('.spinner2 input').val( parseInt($('.spinner2 input').val(), 10) + 1);
			});
			$('.spinner2 .btn:last-of-type').on('click', function() {
				$('.spinner2 input').val( parseInt($('.spinner2 input').val(), 10) - 1);
			});

			$('.spinner3 .btn:first-of-type').on('click', function() {
				$('.spinner3 input').val( parseInt($('.spinner3 input').val(), 10) + 1);
			});
			$('.spinner3 .btn:last-of-type').on('click', function() {
				$('.spinner3 input').val( parseInt($('.spinner3 input').val(), 10) - 1);
			});

			$('.input-group.date').datepicker({
				orientation: 'bottom auto',
				format: 'yyyy-mm-dd'
			});


    </script>
{% endblock %}

