{% extends 'NestleWebBundle::base.html.twig' %}

{% set user_role = user.level %}

{% block stylesheets %}
    <link href="{{ asset('css/jasny-bootstrap.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            {% include 'NestleWebBundle:Misc:notifications.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="panel">
                <div class="panel-body">

                    <ol class="breadcrumb">
                        <li><a href="{{ path('nestle_web_bower') }}">Bower</a></li>
                        <li class="active">Profile</li>
                    </ol>

                    <div class="modal-header" id="addProfile">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="fname">First Name:</label>
                                    <span>{{ bower.fname }}</span>
                                </div>
                                <div class="col-sm-6">
                                    <label for="lname">Last Name:</label>
                                    <span>{{ bower.lname }}</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-body restaurantProfile" id="addProfile">

                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="status">Status:</label>
                                        <span>
                                            {% if bower.status == 1 %}
                                                Active
                                            {% elseif bower.status == 0 %}
                                                Inactive
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="status">Bower Id:</label>
                                        <span>
                                            {{ bower.bowerId }}
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="username">Username:</label>
                                        <span>{{ bower.username }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <span>{{ bower.password }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="bdate">Birthdate:</label>
                                        <span>{{ bower.bdate|date("m/d/Y") }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="contact">Contact No.:</label>
                                        <span>{{ bower.contactnumber }}</span>
                                    </div>
                                </div>
                            </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="distributor">Distributor:</label>
                                    <span>{{ bower.distributor }}</span>
                                </div>
                            </div>

                        </div>

                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="region">Region:</label>
                                        <span>{{ region.region }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="province">Province:</label>
                                        <span>{{ province.province }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="city">City:</label>
                                        <span>{{ city.city }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="area">Area:</label>
                                        <span>{{ area.area }}</span>
                                    </div>
                                </div>
                            </div>


                            <hr>

                        <div class="form-footer">
                            <a href="{{ path('nestle_web_bower_edit', {'id':  bower.id }) }}" class="btn btn-warning">Edit</a>
                            <button class="btn btn-danger" data-toggle="modal"  data-target="#myModal" onclick="">Delete</button>
                        </div>
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">DELETE ACCOUNT</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete {{ bower.fname }} {{ bower.lname }}  record from the list of bower?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('nestle_web_bower_delete', {'id': bower.id}) }}" class="btn btn-danger">Delete</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('js/jasny-bootstrap.js') }}"></script>

{% endblock %}

