<!DOCTYPE html>
<html>
<head>
	<title>Transactions Report</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('css/metisMenu.min.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('css/linear-icons.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('css/Pe-icon-7-stroke.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('css/jasny-bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('css/jquery-ui.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('css/fontello.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('css/summernote.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('css/ammap.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('css/fileinput.css') }}" rel="stylesheet" type="text/css" media="all"/>

    {% block stylesheets %}

	{% endblock %}

    <script type="text/javascript" src="{{ asset('js/jquery1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui-1.11.0.min.js') }}"></script>
</head>

<body>
	<div id="wrapper">

		{% block sidebar %}
			{% include 'NestleWebBundle::sidebar.html.twig' %}
		{% endblock %}

		<div id="page-wrapper">
			{% block content %}
				
			{% endblock %}
		</div>

	</div>
    
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/metisMenu.min.js') }}"></script>
    <script src="{{ asset('js/sb-admin-2.js') }}"></script>
    <script src="{{ asset('js/equalheight.js') }}"></script>
    <script src="{{ asset('js/summernote.js') }}"></script>

    <script src="{{ asset('js/bootstrap-colorpicker.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fileinput.min.js') }}"></script>

    <script>
        $('.dropdown').click(function() {
          $('.dropdown-menu', this).slideToggle(200);
        });

    </script>

    {% block javascript %}

    {% endblock %}
</body>
</html>