<div id="" class="navmenu navmenu-fixed-left offcanvas">
    <nav id="desktopNav" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div id="sideMenu" class="navbar-default sidebar" role="navigation">

            <div class="sidebar-nav">

                <div id="logo" style="background: none;">
                    <img src="{{ asset('img/bower_logo.png') }}" alt="" style="max-width: 60%;">

                    <h3 style="color: #FFFFFF;">Nestle BOW App</h3>
                </div>

                <ul class="nav" id="side-menu" style="margin-top: 30px;">
                    <li>
                        <a href="{{ path('nestle_web_homepage') }}"><i class="fa fa-home fa-fw"></i> BOW Sales</a>
                    </li>
                    <li>
                        <a href="{{ path('nestle_web_account_leads') }}"><i class="fa fa-users"></i> BOW Accounts</a>
                    </li>
                    {% if user_role == 'ADMIN' %}
                        <li>
                            <a href="{{ path('nestle_web_products') }}"><i class="fa fa-dashboard fa-fw"></i> BOW
                                Products</a>
                        </li>
                        <li>
                            <a href="{{ path('nestle_web_promo') }}"><i class="fa fa-star fa-fw"></i> BOW Promo</a>
                        </li>
                        <li>
                            <a href="{{ path('nestle_web_cycle_plan') }}"><i class="fa fa-star fa-fw"></i> BOW Cycle
                                Plan</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('nestle_web_bower') }}"><i class="fa fa-users"></i> BOW Users</a>
                    </li>


                    <li>
                        <a href="{{ asset('/uploads/bowerapp-pilot.apk') }}" download><i class="fa fa-download"></i> BOW
                            App Download</a>
                    </li>

                    <li>
                        <a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>
</div>

<div class="navbar navbar-default navbar-fixed-top">

    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <img src="" alt="" class="logo logoSmall">

</div>